img {
    width: 200px;
    height: 200px;
    padding: 1px;
    display: inline-table;
}
h1 {
       text-align: right;
}

h2 {
    background-color: bisque;
    width: 410px;
    height: 30px;
    text-align: center;
    outline-style: solid;
    outline-width: 1px;
}

div {
    width: 200px;
    height: 200px;
    Padding: 1px;
    Border: 0px;
    Margin: 1px;
    background-color: lightgray;
    display: inline-block
}
span {
    vertical-align: top;
}
footer {
    background-color: blue;
    color: white;
}